body{
    background-image: url('img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/*Navigation Bar menu*/
#navbar{
    display: flex; 
   top: 0px;
   position: sticky;
}
/* Navigation bar lists design  */
#navbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
/* Navigation bar list menu  */
#navbar ul li a{
    display: flex;
    padding: 2px 11px;
    margin: 10px;
    text-decoration: none;
    color: white;
}
/* Hover effect on navigation bar */
#navbar ul li a:hover{
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white
}
/*Logo design  */
#logo{
    display: flex;
    flex-direction: column;
}
/* logo image design */
#logo img{
    height: 55px;
    width: 55px;
    filter: invert(100%);
    top: 5px;
    padding: 10px 10px;
    margin: 10px;
}
/* content of the webpage */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container h2{
    text-align: center;
    font-size: 2rem;
}

.container p{
    font-size: 1.3rem;
}

.footer{
    background: rgb(24, 10, 10);
    color: white;
    padding: 9px 20px;
    margin-bottom:0px;
}